<header></header>

<mat-card>
  <mat-card-content>
      <button mat-raised-button color = "primary" routerLink = "/home"> Go to home </button>
      <br/>
  </mat-card-content>
</mat-card>


<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{this.products.name}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="Amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{this.products.amount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{this.products.quantity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{this.products.total}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->

<!-- <div class="cart-wrapper">
  <div class="panel panel-default">
    Default panel contents
    <div class="panel-heading">
      <div>Item</div>
      <div>Price</div>
      <div>Quantity</div>
      <div>Total Price</div>
      <div></div>
    </div> -->

    <!-- Table -->
    <!-- <div class="list-group">
          <app-cartitem
            class="list-group-item"
            *ngFor="let item of cartItems; let i = index"
            [cartItem]="item"
            (cartItemDeleted)="onCartItemDeleted($event)"
            (cartItemChanged)="onCartItemChanged($event)"
            >
          </app-cartitem>
    </div>
    <div class="panel-footer">
      <h4>Total {{cartTotal}}</h4> -->
      <!--<h4>Total new {{total}}</h4>-->
    <!-- </div>
  </div>
</div> -->