@import url('https://fonts.googleapis.com/css?family=Bellota+Text:400,700i&display=swap');

h1 {
    font-family: 'Bellota Text', cursive;
    font-size: 70px;
    color: rgb(82, 0, 129);
    opacity: 80%;
    align-items: center;
    text-decoration: palevioletred;
    text-overflow: initial;
    text-shadow: orchid;
    justify-content: start;
    text-align: justify;
}

p {
    background-image: linear-gradient(-80deg,red, purple);
    color: purple;
}

        
