.navbar {
    justify-content: space-between;
    font-size: 16px;
    max-width: 100%;
}

span {
    padding-right: 1rem;
}

.searchBar {
    align-items: center;
    padding: 15px 5px;
    width: 100%;
    
}

.searchBar input {
    width: 100%;
    object-fit: contain;
    border: hidden;
}
