<div>
    <mat-toolbar color='primary' class="navbar">
      <span>
        <a class="navbar-item">
          <img src="assets/img/logo.png" style="object-fit: contain; width: 10%; height: 10%;">
        </a>
      </span>

      <div class="searchBar">
        <form class="form" style="object-fit: fill;">
         <input type="search" placeholder="Search" autofocus/>
        </form>
        
      </div>

      <div style="padding: 5px;">
        <span>
          <a class="navbar-item">
            <img src="assets/img/shopping-cart.png" style="object-fit: contain; width: 15%; height: 15%;">
          </a>
        </span>
      </div>
   </mat-toolbar>
</div>
